@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --cor-primaria: #2b4c7e;
    --cor-secundaria: #1f1f20;
    --cor-terciaria: #567ebb;
    --cor-quintenaria: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: center;
    margin-bottom: 3rem;
}

h1, h2 {
    margin-top: 2rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 2rem;
}

.addtasks {
    margin-top: 3.2rem;
    text-align: center;
}

.textfield {
    width: 10rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.addbutton, .concbutton {
    width: 7.5rem;
    height: 1.8rem;
    border-radius: 1.5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
    text-shadow: 1px 1px 1px black;
    margin-left: 0.5rem;
}

.table-container {
    text-align: center;
    padding-top: 2rem;
    font-family: var(--fonte-secundaria);
    color: whitesmoke;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container table {
    border: 2px solid var(--cor-terciaria);
    border-collapse: collapse;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-container table td {
    padding: 1rem;
    color: var(--cor-quintenaria);
}

.table-container table tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
}

.table-container table tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

.task tbody tr {
    margin-bottom: 1rem;
    color: var(--cor-quintenaria);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.task {
    color: var(--cor-quintenaria);
    font-family: var(--fonte-secundaria);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--cor-quintenaria);
    font-family: var(--fonte-secundaria);
    margin-top: 2rem;
}

.task .concbutton {
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
    border: none;
    cursor: pointer;
}

.concludedtasks th {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.addtasks {
    display: inline-block;
    text-align: left;
}


